@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

.body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #1e1e1e;
    font-family: 'Questrial';
}


a{
    text-decoration: none;
}

p{
    position: absolute;
    margin-top: 4em;
    color: #000000;
}

.container.container_header{
    width: 70vw;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bi.bi-qr-code{
    fill: white;
    transition: 0.3s ease-in-out;
}
.bi.bi-qr-code:hover{
    fill: #833AB4;
}

.container.container_header h1{
    color: white;
}
.container.container_header .qr{
    position: absolute;
    margin-bottom: 12em;
}

.container.container_social{
    margin-top: 2em;
    width: 70vw;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

.button{
    position: relative;
    width: 90px;
    height: 90px;
    border: none;
    border-radius: 50px;
    background-color: #1e1e1e;
    margin: 25px;
    box-shadow: inset 8px 10px 30px rgba(0, 0, 0, 0.384),
                inset 2px 5px 20px rgba(0, 0, 0, 0.947),
                inset -3px -7px 10px rgba(255, 255, 255, 0.146),
                inset -4px -5px 5px rgba(255, 255, 255, 0.153);
    transition: 0.5s;
}

.bi{
    color: white;
}
.bi:hover{
    color: #1e1e1e;
}

.button:hover{
    width: 100px;
    height: 100px;
}

.button_spotify:hover{
    background-color: #1DB954;
    box-shadow: -2px -5px 20px rgba(255, 255, 255, 0.162)
    , 8px 8px 20px rgba(0, 0, 0, 0.616),
    inset 8px 10px 30px rgba(0, 0, 0, 0.384),
    inset 2px 5px 20px rgba(0, 0, 0, 0.947),
    inset -3px -7px 10px rgba(255, 255, 255, 0.146),
    inset -4px -5px 5px rgba(255, 255, 255, 0.153);
}

.button_instagram:hover{
    background-color: #833AB4;
    box-shadow: -2px -5px 20px rgba(255, 255, 255, 0.162)
    , 8px 8px 20px rgba(0, 0, 0, 0.616),
    inset 8px 10px 30px rgba(0, 0, 0, 0.384),
    inset 2px 5px 20px rgba(0, 0, 0, 0.947),
    inset -3px -7px 10px rgba(255, 255, 255, 0.146),
    inset -4px -5px 5px rgba(255, 255, 255, 0.153);
}

.button_telegram:hover{
    background-color: #2AABEE;
    box-shadow: -2px -5px 20px rgba(255, 255, 255, 0.162)
                , 8px 8px 20px rgba(0, 0, 0, 0.616),
                inset 8px 10px 30px rgba(0, 0, 0, 0.384),
                inset 2px 5px 20px rgba(0, 0, 0, 0.947),
                inset -3px -7px 10px rgba(255, 255, 255, 0.146),
                inset -4px -5px 5px rgba(255, 255, 255, 0.153);
}

.button_whatsapp:hover{
    background-color: #25D366;
    box-shadow: -2px -5px 20px rgba(255, 255, 255, 0.162)
                , 8px 8px 20px rgba(0, 0, 0, 0.616),
                inset 8px 10px 30px rgba(0, 0, 0, 0.384),
                inset 2px 5px 20px rgba(0, 0, 0, 0.947),
                inset -3px -7px 10px rgba(255, 255, 255, 0.146),
                inset -4px -5px 5px rgba(255, 255, 255, 0.153);
}

.button_movie:hover{
    background-color: #FF0000;
    box-shadow: -2px -5px 20px rgba(255, 255, 255, 0.162)
                , 8px 8px 20px rgba(0, 0, 0, 0.616),
                inset 8px 10px 30px rgba(0, 0, 0, 0.384),
                inset 2px 5px 20px rgba(0, 0, 0, 0.947),
                inset -3px -7px 10px rgba(255, 255, 255, 0.146),
                inset -4px -5px 5px rgba(255, 255, 255, 0.153);
}


@media screen and (max-width: 800px) {
    
    .container.container_social{
        display: block;
        text-align: center;

    }
    
    .button{
        margin: 20px;
    }
}